.appionent-div {
  width: 100%;
  position: fixed;
  bottom: 70px;
  z-index: 999;
}

/* 打开预约div */
.make-an-appiontment {
  display: table;
  vertical-align: middle;
  cursor: pointer;
}
.appiontment-lt {
  width: 60px;
  height: 184px;
  background: #fbd33e;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.appiontment-lt-txt {
  width: 32px;
  height: 184px;
  position: absolute;
  left: 14px;
  top: 0px;
  padding-top: 40px;
  font-size: 20px;
}
.appiontment-rt {
  display: table-cell;
  background: #f7e296;
  vertical-align: middle;
}
.compay-new-list {
  width: 80%;
  height: 530px;
  margin: 0 auto;
  border: 1px solid blue;
  box-sizing: border-box;
  display: table;
  vertical-align: middle;
}

/* 立即预约内容输入 */
.write-info {
  width: 100%;
  height: 184px;
  color: #333;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
.write-info-box {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 20px #999;
  box-sizing: border-box;
  background: #fff;
}
.write-info-close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
}
.write-info-text {
  width: 80%;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: table;
  text-align: center;
  vertical-align: middle;
}
.write-info-list {
  width: 180px;
  height: 120px;
  display: table-cell;
  padding: 0px 10px;
  vertical-align: middle;
  position: relative;
}
.write-info-first {
  width: 180px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.write-info-first img {
  width: 100%;
  height: 100%;
}
.sure-apoiontment-btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background: #FFCE04;
  color: #fff;
}