.advertise-img {
  width: 100%;
  max-width: 1920px;
  height: 400px;
}
.advertise-img img {
  width: 100%;
  height: 100%;
}


/* 系列列表 */
.series-desc {
  height: 160px;
  position: relative;
}
.series-lists {
  width: 80%;
  height: 50px;
  line-height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.series-lists span {
  border: 1px solid #ccc;
  padding: 6px 50px;
  margin-right: 10px;
  cursor: pointer;
}
.series-span-special {
  width: 200px;
  height: 1px;
  display: inline-block;
  margin: 6px 14px;
  border-bottom: 1px solid #888;
}

/* 系列图片展示 */
.series-one-desc {
  width: 100%;
  height: auto;
}
.series-one-desc img {
  width: 100%;
  height: 100%;
}

/* 玄关 */
.hallway-div {
  width: 100%;
  height: 860px;
  position: relative;
}
.set-icon-pos {
  margin-right: 30px;
}
.hallway-desc {
  width: 280px;
  height: 300px;
  position: absolute;
  top: 60px;
  left: 40px; 
  padding: 40px 20px;
  text-align: left;
}
.hallway-desc span {
  display: block;
  margin-top: 14px;
}
.hallway-desc p {
  margin-top: 20px;
  line-height: 22px;
}
.hallway-img {
  width: 40%;
  height: 660px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hallway-img img {
  width: 100%;
  height: 100%;
}
.hallway-change-icon {
  width: 260px;
  height: 120px;
  position: absolute;
  right: 40px;
  top: 200px;
}
.hallway-change-icon i {
  font-size: 50px;
}
.hallway-change-icon span {
  font-size: 20px;
}
.detail-explain {
  width: 260px;
  height: 160px;
  position: absolute;
  right: 40px;
  bottom: 60px;
}
.detail-explain-img {
  width: 100%;
  height: 122px;
}
.detail-explain-img img {
  width: 100%;
  height: 100%;
}
.detail-explain span {
  display: block;
  margin-top: 6px;
}

/* series two */
.swiper-container2 {
  width: 100%;
  height: 1080px;
  position: relative;
}
.swiper-slide {
  opacity: 1;
  overflow: hidden;
}
.swiper-container-img {
  width: 100%;
  max-width: 1920px;
  height: 1080px;
}
.el-carousel__item img {
  width: 100%;
  height: 100%;
  margin: 0;
}
.custom-pagination {
  bottom: 60px;
}
.pagination2 {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 60px;
  width: 100%;
}