/* swiper */
.swiper-container {
  height: 600px;
}
.swiper-slide {
  opacity: 1;
  overflow: hidden;
}
.swiper-container-img {
  width: 100%;
  height: 600px;
}
.el-carousel__item img {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  margin: 0;
}
.home-events-box-item {
  width: 20%;
}
.home-events-box-item i{
  top: 24px;
}

/* container lists */
.home-container {
  margin-top: 42px;
}
.container-title {
  width: 100%;
  width: 1920px;
  display: table-cell;
  vertical-align: middle;
  padding: 60px 80px;
}
.container-title span {
  vertical-align: middle;
}
.container-content {
  width: 100%;
  display: table;
  position: relative;
}
.container-content-lt {
  width: 50%;
  height: 500px;
  display: table-cell;
}
.container-content-lt img{
  width: 100%;
  height: 100%;
}
.container-content-rt {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 40px;
  background: #f3f3f3;
}
.container-content-rt span {
  display: block;
  margin: 20px 0px;
  color: #333;
}
.container-content-rt h2 {
  color: #333;
  font-size: 30px;
  font-weight: bolder;
}
.container-content-rt .company-slogan {
  font-size: 18px;
  color: #666;
}
.cat-line {
  width: 80px;
  height: 1px;
  border: 1px solid #888;
  box-sizing: border-box;
}
.company-introduce-text {
  font-size: 20px;
  font-weight: bolder;
}
.container-content-rt .keyword {
  font-size: 28px;
}
.container-content-rt .company-introduce-detail {
  font-size: 14px;
  color: #666;
}
.container-content-lt1 {
  width: 16%;
  height: 500px;
  overflow: hidden;
  display: table-cell;
}
.el-menu-item {
  font-size: 16px;
  height: 20%;
  border-bottom: 2px solid #666;
}
.el-row {
  height: 500px;
}
.el-col-12 {
  width: 100%;
  height: 100%;
}
.el-col-12 ul {
  height: 100%;
}
.el-col-12 ul li {
  height: 20%;
  line-height: 100px;
}
.el-menu-item.is-active {
  font-size: 20px;
  color: #fff;
  background: #0a60b9;
}
.container-content-ct1 {
  width: 84%;
  height: 500px;
  display: table-cell;
}
.container-content-ct1 img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container-content-rt1 {
  width: 16%;
  height: 100%;
  color: #fff;
  position: absolute;
  right: 0;
  background: #585857;
  z-index: 10;
  opacity: 0.85;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 80px 10px;
}
.container-content-rt1 h2 {
  font-size: 24px;
}
.container-content-rtline {
  width: 96%;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* 产品 */
.goods-show-list {
  overflow: hidden;
  display: inline-block;
  animation:mymove 2.2s infinite;
  margin-bottom: 40px;
}
@keyframes mymove {
  from {transform: translateY(0px)}
  50% {transform: translateY(14px)}
  from {transform: translateY(0px)}
}
@-webkit-keyframes mymove {/*Safari and Chrome*/
  from {transform: translateY(0px)}
  50% {transform: translateY(14px)}
  from {transform: translateY(0px)}
}
.goods-names-picture {
  float: left;
  margin: 10px 30px;
}
.goods-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #999;
  position: relative;
}
.goods-picture-box {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.goods-picture-box img {
  width: 100%;
  height: 100%;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
.series-list-name {
  font-size: 16px;
  color: #666;
}

/* product style */
.style-list {
  width: 100%;
}
.style-list-intro {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
.el-col-8 {
  padding: 5px;
}
.el-card {
  border: 1px solid #ebeef5;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}
.el-card:hover {
  -webkit-box-shadow: 0 20px 6px #999;
  -moz-box-shadow: 0 20px 6px #999;
  -o-box-shadow: 0 20px 6px #999;
  box-shadow: 0 20px 6px #999;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  margin-bottom: 0px;
}
.series-style-list {
  height: auto;
}
.btn-more {
  padding: 30px 0px;
}
.btn-more button {
  width: 240px;
  height: 50px;
  border-radius: 5px;
}
.image {
  width: 100%;
  height: 300px;
  display: block;
}

/* 品牌实力样式 */
.trademark {
  background: #0a60b9;
  height: 500px;
  position: relative;
  border: 1px solid yellow;
}
.trademark-info {
  width: 80%;
  height: 300px;
  border: 1px solid red;
  position: absolute;
  display: table;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
.trademark-info-list {
  width: 25%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.trademark-info-list span {
  vertical-align: middle;
}

/* news */
.company-news {
  width: 100%;
  position: relative;
}
.make-an-appiontment {
  position: absolute;
  display: table;
  vertical-align: middle;
  left: 0px;
  bottom: 30px;
  cursor: pointer;
}
.appiontment-lt {
  width: 30px;
  height: 160px;
  background: #0a60b9;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}
.appiontment-rt {
  display: table-cell;
  background: #73c3ee;
  vertical-align: middle;
}
.compay-new-list {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  border: 1px solid blue;
  display: table;
  vertical-align: middle;
}
.news-list-lt {
  width: 30%;
  height: 100%;
  border: 1px solid #66c;
  display: table-cell;
}
.news-menu {
  width: 100px;
  height: 260px;
  position: absolute;
  right: 0px;
  bottom: 14px;
  border: 1px solid #666;
}
.news-menu .el-row {
  height: 260px;
}
.news-menu .el-col-12 ul li {
  height: 25%;
  line-height: 65px;
}
.news-more {
  margin-bottom: 80px;
}
.write-info {
  width: 80%;
  height: 184px;
  border: 1px solid red;
  background: #0a60b9;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  opacity: 0.6;
}
.write-info-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.write-info-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.write-info-text {
  width: 80%;
  height: 120px;
  /* border: 1px solid #fff; */
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  display: table;
  text-align: center;
  vertical-align: middle;
}
.write-info-list {
  width: 14%;
  height: 100px;
  display: inline-block;
  display: table-cell;
  padding: 0px 10px;
  vertical-align: middle;
}
.write-info-list img {
  width: 100%;
  height: 100%;
}