.advertise-img {
  width: 100%;
  max-width: 1920px;
  height: 400px;
}
.advertise-img img {
  width: 100%;
  height: 100%;
}

/* product list */
.goods-show-list {
  overflow: hidden;
  display: inline-block;
  margin-top: 50px;
  animation:mymove 2.2s infinite;
}
@keyframes mymove {
  from {transform: translateY(0px)}
  50% {transform: translateY(14px)}
  from {transform: translateY(0px)}
}
@-webkit-keyframes mymove {
  from {transform: translateY(0px)}
  50% {transform: translateY(14px)}
  from {transform: translateY(0px)}
}
.goods-names-picture {
  float: left;
  margin: 10px 20px;
}
.goods-picture {
  width: 100px;
  height: 100px;
  position: relative;
}
.goods-picture-box {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.goods-picture-box img {
  width: 100%;
  height: 100%;
}

/* product style */
.style-list {
  width: 100%;
}
.style-list-intro {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}
.el-col-8 {
  padding: 5px;
}
.el-card {
  border: 1px solid #ebeef5;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}
.el-card:hover {
  -webkit-box-shadow: 0 20px 40px #e5e5e5;
  -moz-box-shadow: 0 20px 40px #e5e5e5;
  -o-box-shadow: 0 20px 40px #e5e5e5;
  box-shadow: 0 20px 40px #e5e5e5;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  margin-bottom: 0px;
}
.series-style-list {
  height: auto;
}
.btn-more {
  padding: 30px 0px;
}
.btn-more button {
  width: 240px;
  height: 50px;
  border-radius: 5px;
}
.series-common-style {
  display: block;
}
.series-list-name {
  font-size: 20px;
  color: #333;
  margin-top: 14px;
}
.series-list-desc {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}
.image {
  width: 100%;
  height: 360px;
  display: block;
}